{% extends 'boilerplate.html' %}
{% block title %}
    Admin Search
{% endblock %}
{% block style %}
<style>
    .custom-shadow {
        box-shadow: 0px 0px 2000px rgba(0, 0, 0, 1); /* Large, soft shadow */
    }
</style>
{% endblock %}
{% block content %}
    <form method="post">
        <div class="input-group">
            <label for="searchInput" class="input-group-text">Search</label>
            <input type="text" class="form-control" id="searchInput" placeholder="search" name="search" value="{{search}}">
            <input type="submit" class="btn btn-primary" value="Enter">
        </div>
    </form>
    
    {% if search %}
    <hr>
        {% if data1 %}
        <table class="table table-bordered table-hover text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>DOB</th>
                    <th>Pursuing</th>
                </tr>
            </thead>
            {% for user in data1 %}
            <tr>
                <td>{{user.fullname}}</td>
                <td>{{user.email}}</td>
                {% if user.dob %}
                <td>{{user.dob.strftime('%d-%m-%Y')}}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td>{{user.pursuing}}</td>
            </tr>
            {% endfor %}
        </table>   
        <hr>     
        {% endif %}
        
        {% if data2 %}
        <table class="table table-bordered table-hover text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for subject in data2 %}
            <tr>
                <td>{{subject.id}}</td>
                <td>{{subject.subject}}</td>
                <td>{{subject.subject_des}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button class="btn btn-success btn-sm" popovertarget="edit_sub_{{subject.id}}">Edit Subject</button>
                        <button class="btn btn-danger btn-sm" popovertarget="del_sub_{{subject.id}}">Delete Subject</button>
                    </div>                    
                </td>
            </tr>

            <div class="p-2 bg-white rounded-4 custom-shadow" id="del_sub_{{subject.id}}" popover>
                <button class="btn btn-close btn-sm " popovertarget="del_sub_{{subject.id}}" popovertargetaction="hide"></button>
                <p>Are you sure you want to delete this subject? <br> This action cannot be undone.</p>
                <form action="{{url_for('del_model', model='subject', id=subject.id)}}" method="post">
                    <input class="btn btn-danger btn-sm " type="submit" value="Delete">
                </form>
            </div>
            
            <div class="p-2 bg-white rounded-4 custom-shadow" id="edit_sub_{{subject.id}}" popover>
                <button class="btn btn-close btn-sm " popovertarget="edit_sub_{{subject.id}}" popovertargetaction="hide"></button>
                <p>Update Subject</p>
                <form id="edit_sub" action="{{url_for('edit_subject', id=subject.id)}}" method="post">
                    <div><label class="form-label">Name: <input class="form-control" type="text" name="subject" value="{{subject.subject}}"></label></div>
                    <div><label class="form-label">Description: <input class="form-control" type="text" name="subject_des" value="{{subject.subject_des}}"></label></div>
                    <input class="btn btn-success" type="submit" value="Update">
                </form>
            </div>
            {% endfor %}
        </table> 
        <hr>       
        {% endif %}

        {% if data3 %}
        <table class="table table-bordered table-hover text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Chapter ID</th>
                    <th>Chapter</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for chapter in data3 %}
            <tr>
                <td>{{chapter.id}}</td>
                <td>{{chapter.chapter}}</td>
                <td>{{chapter.chapter_des}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button class="btn btn-success btn-sm " popovertarget="edit_chap_{{chapter.id}}">Edit</button>
                        <button class="btn btn-danger btn-sm " popovertarget="del_chap_{{chapter.id}}">Delete</button>
                    </div>
                </td>
            </tr>

            <div class="p-2 bg-white rounded-4 custom-shadow" id="del_chap_{{chapter.id}}" popover>
                <button class="btn btn-close btn-sm " popovertarget="del_chap_{{chapter.id}}" popovertargetaction="hide"></button>
                <p>Are you sure you want to delete this chapter? <br> This action cannot be undone.</p>
                <form action="{{url_for('del_model', model='chapter', id=chapter.id)}}" method="post">
                    <input class="btn btn-danger btn-sm " type="submit" value="Delete">
                </form>
            </div>

            <div class="p-2 bg-white rounded-4 custom-shadow" id="edit_chap_{{chapter.id}}" popover>
                <button class="btn btn-close btn-sm " popovertarget="edit_chap_{{chapter.id}}" popovertargetaction="hide"></button>
                <p>Update Chapter</p>
                <form id="edit_chap" action="{{url_for('edit_chapter', id=chapter.id)}}" method="post">
                    <div><label class="form-label">Name: <input class="form-control" type="text" name="chapter" value="{{chapter.chapter}}"></label></div>
                    <div><label class="form-label">Description: <input class="form-control" type="text" name="chapter_des" value="{{chapter.chapter_des}}"></label></div>
                    <input class="btn btn-success" type="submit" value="Update">
                </form>
            </div>
            {% endfor %}
        </table>
        <hr>        
        {% endif %}

        {% if data4 %}
            {% for quiz in data4 %}
            <h3>Quiz Title: {{ quiz.title }} | ID: {{quiz.id}}</h3>
            <p>Quiz hidden from users: {{quiz.is_hidden}}</p>
            <div class="btn-group mb-1" role="group" aria-label="Quiz actions">
                <form style="display: inline;" action="{{url_for('view_quiz', id=quiz.id)}}" method="get">
                    <button class="btn btn-info btn-sm" type="submit" title="chapter_id={{quiz.chapter_id}}">View Quiz</button>
                </form>
                <button class="btn btn-success btn-sm" popovertarget="editquiz{{quiz.id}}">Edit Quiz</button>
                <button class="btn btn-danger btn-sm" popovertarget="del_quiz_{{quiz.id}}">Delete Quiz</button>
            </div>

            <div class="p-2 bg-white rounded-4 custom-shadow" id="del_quiz_{{quiz.id}}" popover>
                <button class="btn btn-close btn-sm " popovertarget="del_quiz_{{quiz.id}}" popovertargetaction="hide"></button>
                <p>Are you sure you want to delete this quiz? <br> This action cannot be undone.</p>
                <form action="{{url_for('del_model', model='quiz', id=quiz.id)}}" method="post">
                    <input class="btn btn-danger" type="submit" value="Delete Quiz">
                </form>
            </div>

            <div class="p-2 bg-white rounded-4 custom-shadow" id="editquiz{{quiz.id}}" popover>
                <button class="btn btn-close btn-sm " popovertarget="editquiz{{quiz.id}}" popovertargetaction="hide"></button>
                <p>Update Quiz</p>
                <form action="{{url_for('edit_quiz', id=quiz.id, quiz=quiz)}}" method="post">
                    <div><label class="form-label">Title: <input class="form-control" name="title" type="text" value="{{quiz.title}}"></label></div>
                    <div><label class="form-label">Due Date: <input class="form-control" name="doa" type="datetime-local" value="{{quiz.doa}}"></label></div>
                    <div><label class="form-label">Duration (in minutes): <input class="form-control" name="time" type="number" value="{{quiz.time}}"></label></div>
                    <div><label class="form-label">Hide Status: <input class="form-check-input" type="checkbox" name="is_hidden" {% if quiz.is_hidden %}checked{% endif %}/></label></div>
                    <div><label class="form-label">Remarks: <input class="form-control" name="remarks" type="text" value="{{quiz.remarks}}"></label></div>
                    <input class="btn btn-success" type="submit" value="Update">
                </form>
            </div>
            {% if quiz.questions %}
                <table class="table table-bordered table-hover text-center align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>Question ID</th>
                            <th>Question Title</th>
                            <th>Question</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    {% for question in quiz.questions %}
                        <tr>
                            <td>{{ question.id }}</td>
                            <td>{{ question.title }}</td>
                            <td>{{ question.question }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <button class="btn btn-success btn-sm" popovertarget="editq{{question.id}}">Edit</button>
                                    <button class="btn btn-danger btn-sm" popovertarget="delq{{question.id}}">Delete</button>
                                </div>
                            </td>
                        </tr>

                        <div class="p-2 bg-white rounded-4 custom-shadow" id="delq{{question.id}}" popover>
                            <button class="btn btn-close btn-sm " popovertarget="delq{{question.id}}" popovertargetaction="hide"></button>
                            <p>Are you sure you want to delete this question? <br> This action cannot be undone.</p>
                            <form action="{{url_for('del_model', model='question', id=question.id)}}" method="post">
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                        </div>

                        <div class="p-2 bg-white rounded-4 custom-shadow" id="editq{{question.id}}" popover>
                            <button class="btn btn-close btn-sm " popovertarget="editq{{question.id}}" popovertargetaction="hide"></button>
                            <p>Update Question</p>
                            <form action="{{url_for('edit_question', id=question.id)}}" method="post">
                                <div>
                                    <label class="form-label">Question type:
                                        <select id="question_type" name="question_type">
                                            <option value = "single_correct" {% if single_correct|string == question.question_type %}selected{% endif %}>Single correct MCQ</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="input-group"><label class="form-label">Question: <input class="form-control" name="question" type="text" value="{{question.question}}"></label></div>
                                <div><label class="form-label">Question Title: <input class="form-control" name="title" type="text" value="{{question.title}}"></label></div>
                                <div><label class="form-label">Option a: <input class="form-control" name="option1" type="text" value="{{question.option1}}"></label></div>
                                <div><label class="form-label">Option b: <input class="form-control" name="option2" type="text" value="{{question.option2}}"></label></div>
                                <div><label class="form-label">Option c: <input class="form-control" name="option3" type="text" value="{{question.option3}}"></label></div>
                                <div><label class="form-label">Option d: <input class="form-control" name="option4" type="text" value="{{question.option4}}"></label></div>
                                <div>
                                    <label class="form-label">Answer: 
                                        <select id="answer" name="answer">
                                            <option value=1 {% if 1|string == question.answer %}selected{% endif %}>option a</option>
                                            <option value=2 {% if 2|string == question.answer %}selected{% endif %}>option b</option>
                                            <option value=3 {% if 3|string == question.answer %}selected{% endif %}>option c</option>
                                            <option value=4 {% if 4|string == question.answer %}selected{% endif %}>option d</option>
                                        </select>
                                    </label>
                                </div>
                                <div><label class="form-label">Weightage: <input class="form-control" name="weightage" min="1" step="1" max="10" type="number" value="{{question.weightage}}"></label></div>
                                <input class="btn btn-success" type="submit" value="Update">
                            </form>
                        </div>
                    {% endfor %}
                </table>
            {% endif %}
            <button class="btn btn-primary" popovertarget="addq{{quiz.id}}">Add Question</button>
            <div class="p-2 bg-white rounded-4 custom-shadow" id="addq{{quiz.id}}" popover>
                <button class="btn btn-close btn-sm " popovertarget="addq{{quiz.id}}" popovertargetaction="hide"></button>
                <p>New Question</p>
                <form action="{{url_for('add_question', id=quiz.id)}}" method="post">
                    <div>
                        <label class="form-label">Question type:
                            <select id="question_type" name="question_type">
                                <option value = "single_correct">Single correct MCQ</option>
                            </select>
                        </label>
                    </div>
                    <div><label class="form-label">Question: <input class="form-control" name="question" type="text" required></label></div>
                    <div><label class="form-label">Question Title: <input class="form-control" name="title" type="text" required></label></div>
                    <div><label class="form-label">Option a: <input class="form-control" name="option1" type="text" required></label></div>
                    <div><label class="form-label">Option b: <input class="form-control" name="option2" type="text" required></label></div>
                    <div><label class="form-label">Option c: <input class="form-control" name="option3" type="text" required></label></div>
                    <div><label class="form-label">Option d: <input class="form-control" name="option4" type="text" required></label></div>
                    <div>
                        <label class="form-label">Answer: 
                            <select id="answer" name="answer">
                                <option value=1>option a</option>
                                <option value=2>option b</option>
                                <option value=3>option c</option>
                                <option value=4>option d</option>
                            </select>
                        </label>
                    </div>
                    <div><label class="form-label">Weightage: <input class="form-control" name="weightage" type="number" required></label></div>
                    <input class="btn btn-success" type="submit" value="Submit">
                </form>
            </div>
            {% endfor %}
        <hr>       
        {% endif %}

    {% endif %}


{% endblock %}
{% block script %}
    
{% endblock %}