<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
            QuizVerse
            {% endblock %}
        </title>
        {% block style %}
            
        {% endblock %}
    </head>
    <body>
        {% include 'nav.html' %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}

        {% endblock %}
    </body>
    {% block script %}
    
    {% endblock %}
</html>