{% extends 'boilerplate.html' %}
{% block title %}
    
{% endblock %}
{% block style %}
    
{% endblock %}
{% block content %}
    {% for input in inputs %}
        <div>
            <p>Q{{loop.index}}.  {{input.question.question}}</p>
            <p {% if input.question.answer == '1' %} style="background-color: rgba(29, 122, 0, 0.5)" {% elif input.input_answer == '1' %} style="background-color: rgba(255, 0, 0, 0.5)" {% endif %}>(a) {{input.question.option1}}</p>
            <p {% if input.question.answer == '2' %} style="background-color: rgba(29, 122, 0, 0.5)" {% elif input.input_answer == '2' %} style="background-color: rgba(255, 0, 0, 0.5)" {% endif %}>(b) {{input.question.option2}}</p>
            <p {% if input.question.answer == '3' %} style="background-color: rgba(29, 122, 0, 0.5)" {% elif input.input_answer == '3' %} style="background-color: rgba(255, 0, 0, 0.5)" {% endif %}>(c) {{input.question.option3}}</p>
            <p {% if input.question.answer == '4' %} style="background-color: rgba(29, 122, 0, 0.5)" {% elif input.input_answer == '4' %} style="background-color: rgba(255, 0, 0, 0.5)" {% endif %}>(d) {{input.question.option4}}</p>
            {% if input.input_answer == input.question.answer %}
            <p>Correct</p>             
            {% elif not input.input_answer %}
            <p>Unattempted</p>   
            {% elif input.input_answer != input.question.answer %}
            <p>Incorrect</p>
            {% endif %}
            <br>
        </div>
    {% endfor %}
{% endblock %}
{% block script %}
    
{% endblock %}
