{% extends 'boilerplate.html' %}
{% block title %}
    Student Dashboard
{% endblock %}
{% block style %}

{% endblock %}
{% block content %}
    {% for subject in subjects %}
    <div style="border: 2px solid #ccc">
        <p title="{{subject.subject_des}}">{{subject.subject}}</p>
        {% set subject_quizzes = quizzes|selectattr('subject_id', 'equalto', subject.id) %}
            {% if not subject_quizzes | list %}
                <p>No quizzes yet.</p>
            {% else %}
                {% for quiz in quizzes %}
                    {% if quiz.subject_id == subject.id %}
                        {% set chapter = chapters|selectattr('id', 'equalto', quiz.chapter_id) %}
                        <p title="{{chapter.chapter}} | {{chapter.chapter_des}}">{{quiz.title}} | 
                            Due Date: {{quiz.doa.strftime('%a, %b %d, %H:%M')}} | Duration: {{quiz.time}} minutes</p>
                        {% if due < quiz.doa %}
                        <a href="{{url_for('instructions', quiz_id=quiz.id)}}">Attempt</a> (Max. Attempts: 3)
                        {% elif due > quiz.doa %}
                        <p>Due date completed.</p>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <p>{{quiz_questions}}</p>
    </div>
    {% endfor %}
{% endblock %}
{% block script %}
    
{% endblock %}