{% extends 'boilerplate.html' %}
{% block title %}
QuizVerse - Login
{% endblock %}
{% block style %}

{% endblock %}
{% block content %}
<h1>Login</h1>
<div class="form_box">
    <form method="post">
        <div><label>Username: <input type="text" name="username" placeholder="Enter your username" required></label></div>
        <div><label>Password: <input type="password" name="password" id="password" placeholder="Enter your password" required></label></div>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
{% block script %}
    
{% endblock %}