<nav>
  <div>
    <a href="/home">QuizVerse</a>
    <div>
      <ul>
        {% if user and user.is_admin %}
          <li>
            <a href="{{url_for('logout')}}">Logout</a>
          </li>
          <li>
            <a href="{{url_for('quizzes')}}">Quizzes</a>
          </li>
          <li>
            <a href="{{url_for('users')}}">User details</a>
          </li>
          <li>
            <a href="{{url_for('admin_search')}}">Search</a>
          </li>
        {% elif not user.isadmin and user%}
          <li>
            <a href="{{url_for('profile')}}">Profile</a>
          </li>
          <li>
            <a href="{{url_for('logout')}}">Logout</a>
          </li>
          <li>
            <a href="{{url_for('user_search')}}">Search</a>
          </li>
          <li>
            <a href="{{url_for('scores')}}">Scores</a>
          </li>
        {% else %}
          <li>
            <a href="{{url_for('registration')}}">Register</a>
          </li>
          <li>
            <a href="{{url_for('login')}}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>