{% extends 'boilerplate.html' %}
{% block title %}
    Quizzes
{% endblock %}
{% block style %}
        <style>
            .container {
                display: flex;
                flex-wrap: wrap;
            }
            .row {
                display: flex;
                width: 50%;
                margin: 5px;
            }
            .col {
                flex: 1;
                padding: 10px;
                border: 1px solid #ccc;
                margin: 5px;
            }        
        </style>
    {% endblock %}
{% block content %}
    <div class="container">
        {% for quiz in quizzes %}
            {% if loop.index0 % 2 == 0 %}
            <div class="row">
            {% endif %}
            <div class="col">
                <p title="{{quiz.remarks}}">{{quiz.title}}</p>
                <table border="2">
                    <tr>
                        <th>ID</th>
                        <th>Question's Title</th>
                        <th>Action</th>
                    </tr>
                    {% for question in questions %}
                        {% if quiz.id == question.quiz_id %}
                            <tr>
                                <td>{{question.id}}</td>
                                <td title="{{question.question}}">{{question.title}}</td>
                                <td>
                                    <button popovertarget="editq{{question.id}}">Edit</button>
                                    <button popovertarget="delq{{question.id}}">Delete</button>
                                </td>
                            </tr>

                            <div id="editq{{question.id}}" popover>
                                <button popovertarget="editq{{question.id}}" popovertargetaction="hide">X</button>
                                <p>Update Question</p>
                                <form action="{{url_for('edit_question', id=question.id)}}" method="post">
                                    <div>
                                        <label>Question type:
                                            <select id="question_type" name="question_type">
                                                <option value = "single_correct" {% if single_correct|string == question.question_type %}selected{% endif %}>Single correct MCQ</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div><label>Question: <input name="question" type="text" value="{{question.question}}"></label></div>
                                    <div><label>Question Title: <input name="title" type="text" value="{{question.title}}"></label></div>
                                    <div><label>Option a: <input name="option1" type="text" value="{{question.option1}}"></label></div>
                                    <div><label>Option b: <input name="option2" type="text" value="{{question.option2}}"></label></div>
                                    <div><label>Option c: <input name="option3" type="text" value="{{question.option3}}"></label></div>
                                    <div><label>Option d: <input name="option4" type="text" value="{{question.option4}}"></label></div>
                                    <div>
                                        <label>Answer: 
                                            <select id="answer" name="answer">
                                                <option value=1 {% if 1|string == question.answer %}selected{% endif %}>option a</option>
                                                <option value=2 {% if 2|string == question.answer %}selected{% endif %}>option b</option>
                                                <option value=3 {% if 3|string == question.answer %}selected{% endif %}>option c</option>
                                                <option value=4 {% if 4|string == question.answer %}selected{% endif %}>option d</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div><label>Weightage: <input name="weightage" min="1" step="1" max="10" type="number" value="{{question.weightage}}"></label></div>
                                    <input type="submit" value="Update">
                                </form>
                            </div>

                            <div id="delq{{question.id}}" popover>
                                <button popovertarget="delq{{question.id}}" popovertargetaction="hide">X</button>
                                <p>Are you sure you want to delete this question?</p>
                                <form action="{{url_for('del_model', model='question', id=question.id)}}" method="post">
                                    <input type="submit" value="Delete">
                                </form>
                            </div>
                        {% endif %}
                    {% endfor %}
                </table>

                <button popovertarget="addq{{quiz.id}}">Add Question</button>
                <div id="addq{{quiz.id}}" popover>
                    <button popovertarget="addq{{quiz.id}}" popovertargetaction="hide">X</button>
                    <p>New Question</p>
                    <form action="{{url_for('add_question', id=quiz.id)}}" method="post">
                        <div>
                            <label>Question type:
                                <select id="question_type" name="question_type">
                                    <option value = "single_correct">Single correct MCQ</option>
                                </select>
                            </label>
                        </div>
                        <div><label>Question: <input name="question" type="text" required></label></div>
                        <div><label>Question Title: <input name="title" type="text" required></label></div>
                        <div><label>Option a: <input name="option1" type="text" required></label></div>
                        <div><label>Option b: <input name="option2" type="text" required></label></div>
                        <div><label>Option c: <input name="option3" type="text" required></label></div>
                        <div><label>Option d: <input name="option4" type="text" required></label></div>
                        <div>
                            <label>Answer: 
                                <select id="answer" name="answer">
                                    <option value=1>option a</option>
                                    <option value=2>option b</option>
                                    <option value=3>option c</option>
                                    <option value=4>option d</option>
                                </select>
                            </label>
                        </div>
                        <div><label>Weightage: <input name="weightage" type="number" required></label></div>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <br>
                <form style="display: inline;" action="{{url_for('view_quiz', id=quiz.id)}}" method="get">
                    <button type="submit" title="chapter_id={{quiz.chapter_id}}">View Quiz</button>
                </form>
                <button popovertarget="editquiz{{quiz.id}}">Edit Quiz</button>
                <div id="editquiz{{quiz.id}}" popover>
                    <button popovertarget="editquiz{{quiz.id}}" popovertargetaction="hide">X</button>
                    <p>Update Quiz</p>
                    <form action="{{url_for('edit_quiz', id=quiz.id, quiz=quiz)}}" method="post">
                        <div><label>Title: <input name="title" type="text" value="{{quiz.title}}"></label></div>
                        <div><label>Attempt date: <input name="doa" type="date" value="{{quiz.doa}}"></label></div>
                        <div><label>Duration (in minutes): <input name="time" type="number" value="{{quiz.time}}"></label></div>
                        <div><label>Remarks: <input name="remarks" type="text" value="{{quiz.remarks}}"></label></div>
                        <input type="submit" value="Update">
                    </form>
                </div>
                <button popovertarget="delquiz{{quiz.id}}">Delete Quiz</button>
                <div id="delquiz{{quiz.id}}" popover>
                    <button popovertarget="delquiz{{quiz.id}}" popovertargetaction="hide">X</button>
                    <p>Are you sure you want to delete this quiz?</p>
                    <form action="{{url_for('del_model', model='quiz', id=quiz.id)}}" method="post">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </div>
            {% if loop.index0 % 2 == 1 or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <button popovertarget="addquiz">Add Quiz</button>
    <div id="addquiz" popover>
        <button popovertarget="addquiz" popovertargetaction="hide">X</button>
        <p>New Quiz</p>
        <form action="{{url_for('add_quiz')}}" method="post">
            <div><label>Chapter ID: <input name="chap_id" type="number" placeholder="Enter chapter ID" required></label></div>
            <div><label>Title: <input name="title" type="text" placeholder="quiz's title" required></label></div>
            <div><label>Attempt date: <input name="doa" type="date" required></label></div>
            <div><label>Duration (in minutes): <input name="time" type="number" required></label></div>
            <div><label>Remarks: <input name="remarks" type="text" placeholder="Enter any remark for students"></label></div>
            <input type="submit" value="Submit">
        </form>
    </div>    
{% endblock %}
{% block script %}
    
{% endblock %}