{% extends 'boilerplate.html' %}
{% block title %}
    Admin Search
{% endblock %}
{% block style %}
    
{% endblock %}
{% block content %}
    <form method="post">
        <div class="input-group">
            <label for="searchInput" class="input-group-text">Search</label>
            <input type="text" class="form-control" id="searchInput" placeholder="search" name="search" value="{{search}}">
            <input type="submit" class="btn btn-primary" value="Enter">
        </div>
    </form>

    {% if search %}
        {% if data2 %}
        <hr>
        <table class="table table-bordered table-hover text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Subject ID</th>
                    <th>Subject</th>
                    <th>Description</th>
                </tr>
            </thead>
            {% for subject in data2 %}
            <tr>
                <td>{{subject.id}}</td>
                <td>{{subject.subject}}</td>
                <td>{{subject.subject_des}}</td>
            </tr>
            {% endfor %}
        </table>   
        <hr>     
        {% endif %}

        {% if data3 %}
        <table class="table table-bordered table-hover text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Chapter ID</th>
                    <th>Chapter</th>
                    <th>Description</th>
                </tr>
                </thead>
            {% for chapter in data3 %}
            <tr>
                <td>{{chapter.id}}</td>
                <td>{{chapter.chapter}}</td>
                <td>{{chapter.chapter_des}}</td>
            </tr>
            
            {% endfor %}
        </table>    
        <hr>    
        {% endif %}

        {% if data4 %}
            {% for quiz in data4 %}
            <h4>Quiz Title: {{ quiz.title }} | ID: {{quiz.id}}</h4>
            Due Date: {{quiz.doa.strftime('%a, %b %d, %H:%M')}} | Duration: {{quiz.time}} minutes</p>
            {% if due < quiz.doa %}
            <a class="btn btn-primary" href="{{url_for('instructions', quiz_id=quiz.id)}}">Attempt</a> (Maximum Attempts: 3)
            {% elif due > quiz.doa %}
            <p>Due date completed.</p>
            {% endif %}
            {% endfor %}  
        <hr>     
        {% endif %}

    {% endif %}


{% endblock %}
{% block script %}
    
{% endblock %}