{% extends 'boilerplate.html' %}
{% block title %}
    User Details
{% endblock %}
{% block style %}

{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h4 class="card-title">Users by Pursuing Field</h4>
                    <img src="data:image/png;base64,{{ pursuing_chart }}" alt="Pursuing Field Distribution" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h4 class="card-title">Users by Age Group</h4>
                    <img src="data:image/png;base64,{{ age_chart }}" alt="Age Distribution" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h4 class="card-title">Unique Users per Quiz</h4>
                    <img src="data:image/png;base64,{{ quiz_attempts_chart }}" alt="Quiz Attempts" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover text-center align-middle">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>DOB</th>
                <th>Pursuing</th>
                <th>Scores</th>
            </tr>
        </thead>
        {% for user in users %}
            <tr>
                <td>{{user.fullname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.dob.strftime('%d-%m-%Y')}}</td>
                <td>{{user.pursuing}}</td>
                <td><a href="{{url_for('scores_admin', user_id=user.id)}}" class="btn btn-info btn-sm">View</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
{% block script %}
    
{% endblock %}